@import './variables';
@import './mixins';
@import './header';
@import './hero';
@import './menu';
@import './hours';
@import './view';
@import './explore';
@import './footer';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

section,
footer {
  scroll-margin-top: 60px;

  @include device(tablet) {
    scroll-margin-top: 80px;
  }
}
