@mixin device($size) {
  @if $size == tablet {
    @media (min-width: 744px) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 1260px) {
      @content;
    }
  }
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin icon-size($size) {
  width: $size;
  height: $size;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@mixin fade-toggle($visible: false) {
  @if $visible {
    opacity: 1;
    visibility: visible;
  } @else {
    opacity: 0;
    visibility: hidden;
    transition:
      opacity $transition-base,
      visibility $transition-base;
  }
}

@mixin grid-container {
  @include device(tablet) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include device(desktop) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }
}

@mixin button-hover-effect {
  background-color: $color-accent-main;
  color: $color-white;
  transition: background-color $transition-base;

  &:hover {
    background-color: $color-footer-button;
  }

  &:active {
    background-color: $color-button-pressed;
  }
}
