// Colors
$color-white: #fff;
$color-black: #000;
$color-red: #d02f2f;
$color-dark: #161616;
$color-accent-main: #d12d35;
$color-footer-black: #3e3e3e;
$color-form: #f8f8fa;
$color-footer-button: #ae1c23;
$color-button-pressed: #eb343d;

// Typography
$font-primary: 'Cinzel', serif;
$font-secondary: 'Roboto', sans-serif;

// Breakpoints
$tablet: 744px;
$desktop: 1260px;

// Spacings
$container-padding-mobile: 20px;
$container-padding-tablet: 72px;
$container-padding-desktop: 120px;

// Font sizes
$fs-logo: 40px;
$fs-title-mobile: 40px;
$fs-title-tablet: 64px;
$fs-title-desktop: 80px;

// Transitions
$transition-base: 0.3s ease;
